<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fenoglio´s Store</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'appcoder/assets/img/favicon.ico' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'appcoder/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'appcoder/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"  rel="stylesheet">
  <link href="{% static 'appcoder/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'appcoder/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'appcoder/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'appcoder/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Fenoglio´s Store<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="{% url 'Inicio' %}">Home</a></li>
          <li><a href="{% url 'Café' %}">Café</a></li>
          <li><a href="{% url 'Helados' %}">Helados</a></li>
          <li><a href="{% url 'Vinos' %}">Vinos</a></li>
         
          {%if request.user.is_authenticated%}
          <li class="dropdown"><a href="#"><span>  Hola {{user.username}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            {%with user.avatar_set.first as miAvatar%}

            {%if miAvatar %}
            <img src ="{{miAvatar.imagen.url}}" alt = "No se encontró la imágen." style = "max-width: 25px; height: 25px ;"> 

            {%endif%}

            {%endwith%}
            <ul>
              <li><a href="{% url 'EditarUsuario' %}">Edit User</a></li>
              <li><a href="{% url 'Logout' %}">Logout</a></li>
              
             

            </ul>
            {% else %}
            <li><a href="{% url 'Login' %}">Login</a></li>
            <li><a href="{% url 'Registro' %}">Register</a></li>
            
            {% endif %}
        
          </li>
          {% block description %}

          {% endblock %}
        </ul>
       
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Disfutá de un excelente<br>Café de Autor</h2>
          <p data-aos="fade-up" data-aos-delay="100">No sólo se basa en disfrutar de un café, sino de un café en su mayor expresión.</p>
        
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{% static 'appcoder/assets/img/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nuestra Historia</h2>
          <p>Conocé más <span>de nuestra EMPRESA FAMILIAR</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url({% static 'appcoder/assets/img/R.JFIF' %});" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4> Contacto </h4>
              <p>3518695262</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Tenemos una vinoteca con muchas variedades de vinos de diferentes viñas y de la mejor calidad para compartir con vos
                !
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Finca las moras</li>
                <li><i class="bi bi-check2-all"></i> Vinos tintos y dulces Malbec</li>
                <li><i class="bi bi-check2-all"></i>Bodega Luigi Bosca</li>
                <li><i class="bi bi-check2-all"></i>Bodega Cafayate</li>
                <li><i class="bi bi-check2-all"></i>Bodega Etchard</li>
              </ul>
              <p>
                Queremos que seas parte vos también!
                Aquí una pequeña demostración, un video del lugar donde todo comenzó: 
                Marull, Córdoba, Argentina. 
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'appcoder/assets/img/about-2.jpg' %}" class="img-fluid" alt="">
                <a href="https://youtu.be/SrR9Gz2ZGlI" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

         




  

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>GALERIA</h2>
          <p>Mira <span>nuestra galeria</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'appcoder/assets/img/vino1.jpg' %}"><img src="{% static 'appcoder/assets/img/vino1.jpg'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'appcoder/assets/img/vino2.jpg' %}"><img src="{% static 'appcoder/assets/img/vino2.jpg'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'appcoder/assets/img/vino3.jpg' %}"><img src="{% static 'appcoder/assets/img/vino3.jpg'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'appcoder/assets/img/vino4.jpg' %}"><img src="{% static 'appcoder/assets/img/vino4.jpg'%}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              <br>
              Marull, Cordoba, Argentina<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> 351895262<br>
              <strong>Email:</strong> julianafenoglio3@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>8 am </strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://www.twitter.com/itsmejulita" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/JulianaFenoglio" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/itsmejulita_" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Page Juliana Fenoglio <strong><span></span></strong> 
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'appcoder/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'appcoder/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'appcoder/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'appcoder/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'appcoder/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'appcoder/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'appcoder/assets/js/main.js' %}"></script>

</body>

</html>